<div class="wrapper">
    <div class="container">
        <div id="img-container">
            <img src="/{{currentPost.photopath}}" alt="Image Could Not Be Displayed."/>
        </div>
        
        <div class="grid-container">
            <div id="info-message-grid">
                <header id="image-post-title">
                    <span id="image-post-title-text">{{currentPost.title}}</span>
                </header>
                <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
                <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
                <div id="image-post-description" class="info-tags">{{currentPost.description}}</div>
            </div>

            <div id="comment-section-container">
                <div id="view-comment-container">
                    <div id="view-comment-banner">
                        <span id="view-comment-span">COMMENTS <i class="fas fa-comments"></i></span>
                    </div>
                    <div id="messages">
                        {{!-- <div id="message-">
                            <strong class="author-text">user</strong>
                            <span class="date-posted">11:50</span>
                            <div class="comment-text">BLAH BLAH BLAH</div>
                        </div>
                        <div id="message-">
                            <strong class="author-text">user</strong>
                            <span class="date-posted">11:51</span>
                            <div class="comment-text">BLAH BLAH BLAH</div>
                        </div>
                        <div id="message-">
                            <strong class="author-text">user</strong>
                            <span class="date-posted">11:52</span>
                            <div class="comment-text">BLAH BLAH BLAH</div>
                        </div>
                        <div id="message-">
                            <strong class="author-text">user</strong>
                            <span class="date-posted">11:53</span>
                            <div class="comment-text">BLAH BLAH BLAH</div>
                        </div>
                        <div id="message-">
                            <strong class="author-text">user</strong>
                            <span class="date-posted">11:54</span>
                            <div class="comment-text">BLAH BLAH BLAH</div>
                        </div>
                        <div id="message-">
                            <strong class="author-text">user</strong>
                            <span class="date-posted">11:55</span>
                            <div class="comment-text">BLAH BLAH BLAH</div>
                        </div> --}}
                    </div>
                    
                </div>
                <div id="write-comment-container">
                    <textarea name="write-comment-area" id="write-comment-area" cols="1" ></textarea>
                    <button type="submit" id="submit-button"><i class="fa fa-comment"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>