<div class="wrapper">
    <div class="container">
        <div id="img-container">
            <img src="/{{currentPost.photopath}}" alt="Image Could Not Be Displayed."/>
        </div>
        
        <div class="grid-container">
            <div id="info-message-grid">
                <header id="image-post-title">
                    <span id="image-post-title-text">{{currentPost.title}}</span>
                </header>
                <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
                <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
                <div id="image-post-description" class="info-tags">{{currentPost.description}}</div>
            </div>

            <div id="comment-section-container">
                <div id="view-comment-container">
                    <div id="view-comment-banner">
                        <span id="view-comment-span">COMMENTS <i class="fas fa-comments"></i></span>
                    </div>
                    <div id="messages">
                        {{#each currentPost.comments}}
                            {{> comment this}}
                        {{/each}}
                    </div>
                    
                </div>
                <div id="write-comment-container">
                    <textarea name="write-comment-area" id="write-comment-area" cols="1" ></textarea>
                    <button type="submit" id="submit-button"><i class="fa fa-comment"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
        let imagePostDate = document.getElementById('image-post-date');
        imagePostDate.textContent = new Date(imagePostDate.textContent).toLocaleString();
    });

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML = `
        <div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.comment}</div>
        </div>
        `;
        try{
            document.getElementById('messages').firstElementChild.before(template.content.firstElementChild);
        } catch(error) {
            console.log(error);
            window.location.reload(); // sometimes before is getting an error so we'll just force a refresh to mimic what we want.
        }
    }

    document.getElementById('submit-button').onclick = (event) => {
        let commentText = document.getElementById('write-comment-area').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];
        if(!commentText) {
            return;
        }
        
        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId : postId
            })
        }

        fetch('/comments/create', fetchOptions)
        .then((response) => response.json())
        .then((data) => {
            if(data.code == 1) {
                addMessage(data);
            } else {
                addFlashFromFrontEnd(data.message, data.status);
            }
        })
        .catch((err) => console.log(err));
    };

</script>